@font-face {
  font-family: 'SUITE';
  src: url('/public/fonts/SUITE-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SedgwickAve';
  src: url('/public/fonts/SedgwickAve-Regular.ttf') format('truetype');
  font-weight: 200;
}
